<div id="NavDrawer" class="drawer drawer--left">
  <div class="drawer__inner drawer-left__inner">
    <ul class="mobile-nav">
      <li class="mobile-nav__item">
        <a href="/"    class="mobile-nav__link" > Home </a>
      </li>
      <li class="mobile-nav__item">
        <a  href="/index.php?route=product/categoryall"  class="mobile-nav__link">Catalog</a>
      </li>
      <li class="mobile-nav__spacer"></li>
      <li class="mobile-nav__item mobile-nav__item--secondary">
        <a href="/index.php?route=account/login" id="customer_login_link">{{ text_login }}</a>
      </li>
      <li class="mobile-nav__item mobile-nav__item--secondary">
        <a href="/index.php?route=account/register" id="customer_register_link">{{ text_register }}</a>
      </li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ special }}">{{ text_special }}</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ account }}">{{ text_account }}</a>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ edit }}">Edit Account</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ password }}">Password</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ address }}">Address Book</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ history }}">History</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ download }}">{{ text_download }}</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ history }}">{{ text_cart }}</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ checkout }}">{{ text_checkout }}</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ search }}">{{ text_search }}</a></li>
      <li class="mobile-nav__item mobile-nav__item--secondary">{{ text_information }}
      <ul>
        {% for information in informations %}
          <li class="mobile-nav__item mobile-nav__item--secondary"><a href="{{ information.href }}">{{ information.title }}</a></li>
        {% endfor %}
        <li><a href="{{ contact }}">{{ text_contact }}</a></li>
      </ul>
      </li>
    </ul>
    <!-- //mobile-nav -->
  </div>


</div>
