<div id="shopify-section-featured-products" class="shopify-section">
    <div id="CollectionSection" data-section-id="featured-products" data-section-type="collection-template"
         data-grid-type="grid">
        <div class="wrapper">
            <div class="section-header text-center">
                <h2 class="h1 section-header__title">{{ heading_title }}</h2>
                <hr class="hr--small">
            </div>
            <div class="grid-uniform">
                {% for product in products %}

                    <div class="grid__item grid-product medium--one-half large--one-third">
                        <div class="grid-product__wrapper">
                            <div class="grid-product__image-wrapper" style="height: 309px;">
                                <a class="grid-product__image-link" href="{{ product.href }}" data-image-link="">
                                    <style>
                                        @media screen and (min-width: 591px) {
                                            .ProductImage-{{ product.id}} {
                                                max-width: 415.0px;
                                                max-height: 415px;
                                            }

                                            #ProductImageWrapper-{{ product.id}} {
                                                max-width: 415.0px;
                                            }
                                        }

                                        @media screen and (max-width: 590px) {
                                            .ProductImage-{{ product.id}} {
                                                max-width: 295.0px;
                                            }

                                            #ProductImageWrapper-{{ product.id}} {
                                                max-width: 295.0px;
                                            }
                                        }

                                    </style>

                                    <div id="ProductImageWrapper-{{ product.id }}" class="product--wrapper">
                                        <div style="padding-top:100.0%;">
                                            <img class="product--image ProductImage-{{ product.id }} lazyautosizes lazyloaded"
                                                 data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                                                 data-aspectratio="1.0" data-sizes="auto" alt="" data-image=""
                                                 data-srcset="{{ product.thumb }}"
                                                 sizes="270px"
                                                 srcset="{{ product.thumb }}">
                                        </div>
                                    </div>
                                    <noscript>
                                        <img class="grid-product__image" src="{{ product.thumb }}" alt="">
                                    </noscript>
                                </a>
                                {% if product.special %}
                                <div class="grid-product__on-sale">
                                    <p>Save<br>{{ product.price }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <a href="{{ product.href }}" class="grid-product__meta">
                                <span class="grid-product__title">{{ product.name }}</span>
      <span class="grid-product__price-wrap">
        <span class="long-dash">—</span>
        <span class="grid-product__price">
        <span class="visually-hidden">Sale price</span>
            {% if product.special %}
                {{ product.special }}
            {% else %}
                {{ product.price }}
            {% endif %}
        </span></span> </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

</div>