{{ header }}
<style>
    .col-sm-4 hr{
        margin: 20px auto;
        text-align: center;
    }
    .input-group-field, .input-group-btn {
        display: contents;
        vertical-align: middle;
        margin: 0;
    }
    .btn-default{
        background-color:#8c9094;
    }
    .section-header{
        margin-bottom: 50px;
    }
    .price-li-span {
        margin: 0 10px;
        font-family: Montserrat,sans-serif;
        font-style: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #1f2021;
        font-size: 1.125em;
        font-weight: 400;
    }
    .price-li-span-price{
        padding-right: 5px;
        display: inline-block;
        text-decoration: line-through;
    }
    .price-li-span-special{
        color: #a56600;
    }
    .radio{
        display:inline-block;
        border: 1px solid #1f2021;
        font-family: Montserrat,sans-serif;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: relative;
        line-height: 1;
        font-size: 0.8125em;
        font-style: normal;
        background-color: #fff;
        border: 1px solid #fff;
        color: #1f2021;
    }
    .radio-label{
        cursor: pointer;
        display:inline-block;
        font-family: Montserrat,sans-serif;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: relative;
        line-height: 1;
        padding: 9px 11px;
        margin: 3px 4px 7px 3px;
        font-style: normal;
        background-color: #fff;
        border: 1px solid #fff;
        color: #1f2021;
    }
    .radio-label-this{
        border: 1px solid #1f2021;
    }
    .radio input{
        margin: 0;
        padding: 0;
        display: none;
    }
    .radio-title-lable{
        display: block;
        margin-bottom: 10px;
        cursor: default;
        font-style: normal;
        font-weight: 400;
    }
</style>
<ul class="breadcrumb">

</ul>
<div id="PageContainer" class="page-container">
    <main class="main-content" role="main">

        <div class="wrapper">

            <!-- /templates/product.liquid -->

            <div id="shopify-section-product-template" class="shopify-section"><!-- /templates/product.liquid -->
                <div itemscope="" itemtype="http://schema.org/Product" id="ProductSection--product-template"
                     data-section-id="product-template" data-section-type="product-template"
                     data-image-zoom-type="false" data-enable-history-state="true" data-stacked-layout="true">

                    <div class="grid product-single">
                        <div class="grid__item large--seven-twelfths medium--seven-twelfths text-center">
                            <div id="ProductMediaGroup-product-template" class="product-single__media-group-wrapper"
                                 data-product-single-media-group-wrapper="">
                                <div class="product-single__media-group" data-product-single-media-group="">
                                    {% if thumb or images %}
                                        {% for key,image in images %}
                                            <div class="product-single__media-flex-wrapper"
                                                 data-slick-media-label="Load image into Gallery viewer, 3-in-1 Swiss Knife Style Charger"
                                                 data-product-single-media-flex-wrapper="">
                                                <div class="product-single__media-flex">

                                                    <div id="ProductMediaWrapper-product-template-{{key}}"
                                                         class="product-single__media-wrapper "
                                                         data-product-single-media-wrapper=""
                                                         data-media-id="product-template-{{key}}" tabindex="-1">

                                                        <style>
                                                            @media screen and (min-width: 591px) {
                                                                .product-single__media-product-template-{{key}} {
                                                                    max-width: 590px;
                                                                    max-height: 590px;
                                                                }

                                                                #ProductMediaWrapper-product-template-{{key}} {
                                                                    max-width: 590px;
                                                                }
                                                            }

                                                            @media screen and (max-width: 590px) {
                                                                .product-single__media-product-template-{{key}} {
                                                                    max-width: 590.0px;
                                                                }

                                                                #ProductMediaWrapper-product-template-{{key}} {
                                                                    max-width: 590.0px;
                                                                }
                                                            }

                                                        </style>

                                                        <div class="product-single__media" style="padding-top:100.0%;">

                                                            <img class="mfp-image product-single__media-product-template-{{key}} lazyautosizes ls-is-cached lazyloaded"
                                                                 src="{{ image.popup }}"
                                                                 data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                                 data-aspectratio="1.0" data-sizes="auto"
                                                                 data-media-id="{{key}}"
                                                                 alt="{{ heading_title }}"
                                                                 data-srcset="{{ image.popup }}"
                                                                 sizes="547px"
                                                                 srcset="{{ image.popup }}">
                                                        </div>

                                                        <noscript>
                                                            <img class="product-single__media"
                                                                 src="{{ image.popup }}"
                                                                 alt="{{ heading_title }}">
                                                        </noscript>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="slick__controls slick-slider">
                                    <button class="slick__arrow slick__arrow--previous" aria-label="Previous slide"
                                            data-slick-previous="">
                                        <span class="icon icon-slide-prev" aria-hidden="true"></span>
                                    </button>
                                    <button class="slick__arrow slick__arrow--next" aria-label="Next slide"
                                            data-slick-next="">
                                        <span class="icon icon-slide-next" aria-hidden="true"></span>
                                    </button>
                                    <div class="slick__dots-wrapper" data-slick-dots="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid__item product-single__meta--wrapper medium--five-twelfths large--five-twelfths">
                            <div class="product-single__meta">

                                <div id="content" class="{{ class }}">{{ content_top }}
                                    <div class="row">
                                        {% if column_left or column_right %}
                                            {% set class = 'col-sm-6' %}
                                        {% else %}
                                            {% set class = 'col-sm-4' %}
                                        {% endif %}
                                        <div class="{{ class }}">
                                            <h1 style="font-size: 2.25em;">{{ heading_title }}</h1>
                                            <ul class="list-unstyled" style="display: none">
                                                {% if manufacturer %}
                                                    <li>{{ text_manufacturer }} <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
                                                {% endif %}
                                                <li>{{ text_model }} {{ model }}</li>
                                                {% if reward %}
                                                    <li>{{ text_reward }} {{ reward }}</li>
                                                {% endif %}
                                                <li>{{ text_stock }} {{ stock }}</li>
                                            </ul>
                                            {% if price %}
                                                <ul class="list-unstyled">
                                                    {% if not special %}
                                                        <li>
                                                            <h2>{{ price }}</h2>
                                                        </li>
                                                    {% else %}
                                                        <li class="price-li">
                                                            <span class="price-li-span price-li-span-price">{{ price }}</span>
                                                            <span class="price-li-span price-li-span-special">{{ special }}</span>
                                                        </li>
                                                        {#<hr class="hr--small section-header"/>#}
                                                    {% endif %}
                                                    {% if tax %}
                                                        {#<li>{{ text_tax }} {{ tax }}</li>#}
                                                    {% endif %}
                                                    {% if points %}
                                                        {#<li>{{ text_points }} {{ points }}</li>#}
                                                    {% endif %}
                                                    {% if discounts %}
                                                        <li>
                                                            <hr>
                                                        </li>
                                                        {% for discount in discounts %}
                                                            <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                            <div id="product"> {% if options %}
                                                    {#<h3>{{ text_option }}</h3>#}
                                                    {% for option in options %}
                                                        {% if option.type == 'select' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>#}
                                                                <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="input-full">
                                                                    <option value="">{{ text_select }}</option>
                                                                    {% for option_value in option.product_option_value %}
                                                                        <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                                            {% if option_value.price %}
                                                                                ({{ option_value.price_prefix }}{{ option_value.price }})
                                                                            {% endif %} </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'radio' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                <label class="control-label radio-title-lable">{{ option.name }}</label>
                                                                <div id="input-option{{ option.product_option_id }}" style="padding-bottom: 30px;border: 0;width: 98%"> {% for key,option_value in option.product_option_value %}
                                                                        <div class="radio">
                                                                            {% if key==0 %}
                                                                                <label class="radio-label radio-label-this">
                                                                            {% else %}
                                                                                <label class="radio-label">
                                                                            {% endif %}
                                                                                <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                                                                                {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                                                                {{ option_value.name }}
                                                                                {% if option_value.price %}
                                                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                                                {% endif %} </label>
                                                                        </div>
                                                                    {% endfor %} </div>
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'checkbox' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label">{{ option.name }}</label>#}
                                                                <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                                                                {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                                                                {{ option_value.name }}
                                                                                {% if option_value.price %}
                                                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                                                {% endif %} </label>
                                                                        </div>
                                                                    {% endfor %} </div>
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'text' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>#}
                                                                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="input-full" />
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'textarea' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>#}
                                                                <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="input-full">{{ option.value }}</textarea>
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'file' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label">{{ option.name }}</label>#}
                                                                <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                                                <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'date' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>#}
                                                                <div class="input-group date">
                                                                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="js-quantity-selector" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'datetime' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>#}
                                                                <div class="input-group datetime">
                                                                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="js-quantity-selector" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                                            </div>
                                                        {% endif %}
                                                        {% if option.type == 'time' %}
                                                            <div class="form-group{% if option.required %} required {% endif %}">
                                                                {#<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>#}
                                                                <div class="input-group time">
                                                                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="input-full" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if recurrings %}
                                                    <hr>
                                                    <h3>{{ text_payment_recurring }}</h3>
                                                    <div class="form-group required">
                                                        <select name="recurring_id" class="input-full">
                                                            <option value="">{{ text_select }}</option>
                                                            {% for recurring in recurrings %}
                                                                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <div class="help-block" id="recurring-description"></div>
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="control-label" for="input-quantity">Quantity</label>
                                                    <input type="number"  id="" name="quantity" value="1" min="1" class="js-quantity-selector" style="width: 60%;margin-bottom: 30px" >
                                                    {#<input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="js-quantity-selector" style="width: 60%;margin-bottom: 30px" />#}
                                                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                                                    <br />
                                                    <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block" style="width: 90%;margin-bottom: 30px">{{ button_cart }}</button>
                                                </div>
                                                {% if minimum > 1 %}
                                                    <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                                {% endif %}</div>
                                             </div>
                                        {% if column_left or column_right %}
                                            {% set class = 'col-sm-6' %}
                                        {% else %}
                                            {% set class = 'col-sm-8' %}
                                        {% endif %}
                                        <div class="{{ class }}">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    {#<a href="#tab-description" data-toggle="tab">{{ tab_description }}</a>#}
                                                </li>
                                                {% if attribute_groups %}
                                                    <li>
                                                        {#<a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a>#}
                                                    </li>
                                                {% endif %}
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-description">{{ description }}</div>
                                                {% if attribute_groups %}
                                                    <div class="tab-pane" id="tab-specification" style="display: none">
                                                        <table class="table table-bordered">
                                                            {% for attribute_group in attribute_groups %}
                                                                <thead>
                                                                <tr>
                                                                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for attribute in attribute_group.attribute %}
                                                                    <tr>
                                                                        <td>{{ attribute.name }}</td>
                                                                        <td>{{ attribute.text }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                {% endif %}</div>
                                        </div>
                                    </div>
                                    {% if products %}
                                        <h3 style="display: none">{{ text_related }}</h3>
                                        <div class="row"> {% set i = 0 %}
                                            {% for product in products %}
                                                {% if column_left and column_right %}
                                                    {% set class = 'col-xs-8 col-sm-6' %}
                                                {% elseif column_left or column_right %}
                                                    {% set class = 'col-xs-6 col-md-4' %}
                                                {% else %}
                                                    {% set class = 'col-xs-6 col-sm-3' %}
                                                {% endif %}
                                                <div class="{{ class }}" style="display: none">
                                                    <div class="product-thumb transition">
                                                        <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                                                        <div class="caption">
                                                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                                            <p>{{ product.description }}</p>
                                                            {% if product.rating %}
                                                                <div class="rating"> {% for j in 1..5 %}
                                                                        {% if product.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
                                                                    {% endfor %} </div>
                                                            {% endif %}
                                                            {% if product.price %}
                                                                <p class="price"> {% if not product.special %}
                                                                        {{ product.price }}
                                                                    {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                                                                    {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                                                            {% endif %} </div>
                                                        <div class="button-group">
                                                            <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> <i class="fa fa-shopping-cart"></i></button>
                                                            <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                                                            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if column_left and column_right and (i + 1) % 2 == 0 %}
                                                    <div class="clearfix visible-md visible-sm"></div>
                                                {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
                                                    <div class="clearfix visible-md"></div>
                                                {% elseif (i + 1) % 4 == 0 %}
                                                    <div class="clearfix visible-md"></div>
                                                {% endif %}
                                                {% set i = i + 1 %}
                                            {% endfor %} </div>
                                    {% endif %}
                                    {% if tags %}
                                        <p style="display: none">{{ text_tags }}
                                            {% for i in 0..tags|length %}
                                                {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
                                                {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
                                            {% endfor %} </p>
                                    {% endif %}
                                    {{ content_bottom }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="application/json" id="ProductJson-product-template">
                    {
                        "id": 5416296317080,
                        "title": "3-in-1 Swiss Knife Style Charger",
                        "handle": "3-in-1-swiss-knife-style-charger",
                        "description": "\u003cdiv style=\"text-align: center;\"\u003e\n\u003cdiv\u003e\u003cstrong\u003e\u003cimg src=\"https:\/\/cdn.shopify.com\/s\/files\/1\/0021\/5200\/5730\/files\/Secure-Checkout-Security_large.png?v=1559027882\"\u003e\u003c\/strong\u003e\u003c\/div\u003e\n\u003cspan style=\"color: #0000ff;\"\u003e\u003cstrong\u003eFree shipping for orders over $29.99\u003c\/strong\u003e\u003c\/span\u003e\u003cbr\u003eReturns\u0026gt;\u0026gt; 100% Money Back Guarantee\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cp\u003e\u003cstrong\u003e3-in-1 Swiss Knife Style Charger\u003c\/strong\u003e is the \u003cstrong\u003eSLIMMEST, MULTI-USE\u003c\/strong\u003e \u003cstrong\u003echarger\u003c\/strong\u003e with innovative \u003cstrong\u003eswiss knife style\u003c\/strong\u003e design.\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/v01_4d43f98f-a72a-47dc-b7aa-50fc1d4b44a0_large.gif?v=1559816264\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003eThis charger includes 3 plugs - \u003cstrong\u003eMicro USB, Lightning and Type-C\u003c\/strong\u003e which supports\u003cstrong\u003e triple charging\u003c\/strong\u003e at the same time.\u003cstrong\u003e Super convenient\u003c\/strong\u003e to put into the pocket and charge your devices anytime \u003cstrong\u003ewithout carrying long, twisted cables\u003c\/strong\u003e.\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/v02_large.gif?v=1559816270\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003cb\u003e\u003cstrong\u003eFEATURES:\u003c\/strong\u003e\u003c\/b\u003e\u003c\/p\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cul\u003e\n\u003cli\u003e\n\u003cstrong\u003e3-in-1 Universal Charger\u003cbr\u003e\u003c\/strong\u003eIncludes micro USB, lightning and type-C plugs. \u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0074\/9292\/7541\/files\/02_720x_994484fc-65a9-4095-8673-5e489ef7fe7c_large.png?v=1562405868\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eTriple Charging\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eAble to charge up to 3 devices simultaneously.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eSwiss Arm Knife Style\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003ePerfectly hide all components within the pocket-sized case. Easy to pull out required cables for charging.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eHidden Phone Stand\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eHolds a phone after pulling the hidden stand.\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/10_f2ac707c-e479-4bff-b069-ea1b6a7b8119_large.png?v=1559816410\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eWith \u003cstrong\u003eextra sim card pin\u003c\/strong\u003e for emergency.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eQuick Charging \u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eFast data transferring\/ charging speed. Provides a full charge within an hour for a smartphone in general.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eUltra Slim Design\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003e\u003cspan\u003e3X smaller than normal chargers and it fits comfortably in a pocket or bag.\u003c\/span\u003e\n\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cspan\u003e\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0074\/9292\/7541\/files\/08_720x_89105f23-6b1b-4560-a00c-fd7c77a0d566_large.png?v=1562405898\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003c\/span\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eWide Applications\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eSuitable to hold kitchen utensils, stationery, cables and any metal item.\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cb\u003eS\u003c\/b\u003e\u003cb\u003ePECIFICATIONS:\u003c\/b\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cul\u003e\n\u003cli\u003eSize: 10.5 x 2.7 x 2.1cm \u003c\/li\u003e\n\u003cli\u003eColor: Black, White\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/color_e2beea21-0ae2-420b-9ab6-75dedcd969cd_large.png?v=1559814661\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\u003cb\u003ePACKAGE INCLUDES:\u003cbr\u003e\u003c\/b\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cul\u003e\n\u003cli\u003e\u003cspan\u003e1 x 3-in-1 Swiss Knife Style Charger\u003c\/span\u003e\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cul\u003e\u003c\/ul\u003e\n\u003cdiv style=\"text-align: center;\"\u003e\u003cspan style=\"color: #ff0000;\"\u003e\u003c\/span\u003e\u003c\/div\u003e\n\u003cul\u003e\u003c\/ul\u003e\n\u003cdiv class=\"tinymce-module fd-clr\"\u003e\n\u003cdiv yne-bulb-block=\"image\"\u003e\u003cimg src=\"https:\/\/cdn.shopify.com\/s\/files\/1\/2700\/0658\/files\/trust2_1024x_991e88e0-93f2-48d9-a91a-fe5fc2eb7bca_large.png?v=1540363065\"\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cp\u003e\u003cimg src=\"https:\/\/cdn.shopify.com\/s\/files\/1\/0028\/4678\/5606\/files\/1_large_large_d5c4f504-30d5-44c0-9624-53a5e31f8029_large.png?v=1536581286\" alt=\"\"\u003e\u003c\/p\u003e\n\u003cul\u003e\u003c\/ul\u003e",
                        "published_at": "2020-06-30T21:51:18+08:00",
                        "created_at": "2020-06-30T21:51:35+08:00",
                        "vendor": "DVGO",
                        "type": "Electronics",
                        "tags": [],
                        "price": 1699,
                        "price_min": 1699,
                        "price_max": 1699,
                        "available": true,
                        "price_varies": false,
                        "compare_at_price": 4399,
                        "compare_at_price_min": 4399,
                        "compare_at_price_max": 4399,
                        "compare_at_price_varies": false,
                        "variants": [
                            {
                                "id": 35024800055448,
                                "title": "Black",
                                "option1": "Black",
                                "option2": null,
                                "option3": null,
                                "sku": "D0023-A",
                                "requires_shipping": true,
                                "taxable": false,
                                "featured_image": null,
                                "available": true,
                                "name": "3-in-1 Swiss Knife Style Charger - Black",
                                "public_title": "Black",
                                "options": [
                                    "Black"
                                ],
                                "price": 1699,
                                "weight": 47,
                                "compare_at_price": 4399,
                                "inventory_management": "shopify",
                                "barcode": ""
                            },
                            {
                                "id": 35024800088216,
                                "title": "Green",
                                "option1": "Green",
                                "option2": null,
                                "option3": null,
                                "sku": "D0023-D",
                                "requires_shipping": true,
                                "taxable": false,
                                "featured_image": null,
                                "available": true,
                                "name": "3-in-1 Swiss Knife Style Charger - Green",
                                "public_title": "Green",
                                "options": [
                                    "Green"
                                ],
                                "price": 1699,
                                "weight": 47,
                                "compare_at_price": 4399,
                                "inventory_management": "shopify",
                                "barcode": ""
                            },
                            {
                                "id": 35024800120984,
                                "title": "White",
                                "option1": "White",
                                "option2": null,
                                "option3": null,
                                "sku": "D0023-B",
                                "requires_shipping": true,
                                "taxable": false,
                                "featured_image": null,
                                "available": true,
                                "name": "3-in-1 Swiss Knife Style Charger - White",
                                "public_title": "White",
                                "options": [
                                    "White"
                                ],
                                "price": 1699,
                                "weight": 47,
                                "compare_at_price": 4399,
                                "inventory_management": "shopify",
                                "barcode": ""
                            },
                            {
                                "id": 35024800153752,
                                "title": "Red",
                                "option1": "Red",
                                "option2": null,
                                "option3": null,
                                "sku": "D0023-C",
                                "requires_shipping": true,
                                "taxable": false,
                                "featured_image": null,
                                "available": true,
                                "name": "3-in-1 Swiss Knife Style Charger - Red",
                                "public_title": "Red",
                                "options": [
                                    "Red"
                                ],
                                "price": 1699,
                                "weight": 47,
                                "compare_at_price": 4399,
                                "inventory_management": "shopify",
                                "barcode": ""
                            }
                        ],
                        "images": [
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/12_590x_7cefe140-3d26-451f-bb03-820946f53aa3.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/08_720x_83026c9c-41d1-4f71-9d6c-e645d5ba95ad.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/02_720x_29e663ac-6a00-461a-94f7-ad78b6ae0168.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/03_720x_9ecfa0b0-5d97-46d5-98ea-2c25f9237bdb.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/09_720x_d3f64644-ed95-4b47-9135-3332ff6d5b56.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/10_720x_29665435-c10a-48a2-8f1c-a6002fbb05c6.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/11_720x_ecaa6e06-5317-4bc8-b19a-01f6bd6d7f5f.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/04_720x_79ff3395-ae03-43e7-9d2a-6b72d1904e0f.png?v=1593525095",
                            "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/05_720x_540f74b3-4e12-4056-b68e-e3f0a856960c.png?v=1593525095"
                        ],
                        "featured_image": "\/\/cdn.shopifycdn.net\/s\/files\/1\/0424\/8846\/3512\/products\/12_590x_7cefe140-3d26-451f-bb03-820946f53aa3.png?v=1593525095",
                        "options": [
                            "Color - Buy 2 pcs 20% Off"
                        ],
                        "media": [

                        ],
                        "content": "\u003cdiv style=\"text-align: center;\"\u003e\n\u003cdiv\u003e\u003cstrong\u003e\u003cimg src=\"https:\/\/cdn.shopify.com\/s\/files\/1\/0021\/5200\/5730\/files\/Secure-Checkout-Security_large.png?v=1559027882\"\u003e\u003c\/strong\u003e\u003c\/div\u003e\n\u003cspan style=\"color: #0000ff;\"\u003e\u003cstrong\u003eFree shipping for orders over $29.99\u003c\/strong\u003e\u003c\/span\u003e\u003cbr\u003eReturns\u0026gt;\u0026gt; 100% Money Back Guarantee\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cdiv\u003e\n\u003cp\u003e\u003cstrong\u003e3-in-1 Swiss Knife Style Charger\u003c\/strong\u003e is the \u003cstrong\u003eSLIMMEST, MULTI-USE\u003c\/strong\u003e \u003cstrong\u003echarger\u003c\/strong\u003e with innovative \u003cstrong\u003eswiss knife style\u003c\/strong\u003e design.\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/v01_4d43f98f-a72a-47dc-b7aa-50fc1d4b44a0_large.gif?v=1559816264\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003eThis charger includes 3 plugs - \u003cstrong\u003eMicro USB, Lightning and Type-C\u003c\/strong\u003e which supports\u003cstrong\u003e triple charging\u003c\/strong\u003e at the same time.\u003cstrong\u003e Super convenient\u003c\/strong\u003e to put into the pocket and charge your devices anytime \u003cstrong\u003ewithout carrying long, twisted cables\u003c\/strong\u003e.\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/v02_large.gif?v=1559816270\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003cb\u003e\u003cstrong\u003eFEATURES:\u003c\/strong\u003e\u003c\/b\u003e\u003c\/p\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cul\u003e\n\u003cli\u003e\n\u003cstrong\u003e3-in-1 Universal Charger\u003cbr\u003e\u003c\/strong\u003eIncludes micro USB, lightning and type-C plugs. \u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0074\/9292\/7541\/files\/02_720x_994484fc-65a9-4095-8673-5e489ef7fe7c_large.png?v=1562405868\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eTriple Charging\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eAble to charge up to 3 devices simultaneously.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eSwiss Arm Knife Style\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003ePerfectly hide all components within the pocket-sized case. Easy to pull out required cables for charging.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eHidden Phone Stand\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eHolds a phone after pulling the hidden stand.\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/10_f2ac707c-e479-4bff-b069-ea1b6a7b8119_large.png?v=1559816410\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eWith \u003cstrong\u003eextra sim card pin\u003c\/strong\u003e for emergency.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eQuick Charging \u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eFast data transferring\/ charging speed. Provides a full charge within an hour for a smartphone in general.\u003c\/li\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eUltra Slim Design\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003e\u003cspan\u003e3X smaller than normal chargers and it fits comfortably in a pocket or bag.\u003c\/span\u003e\n\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cspan\u003e\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0074\/9292\/7541\/files\/08_720x_89105f23-6b1b-4560-a00c-fd7c77a0d566_large.png?v=1562405898\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\u003c\/span\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003e\n\u003cspan\u003e\u003cstrong\u003eWide Applications\u003cbr\u003e\u003c\/strong\u003e\u003c\/span\u003eSuitable to hold kitchen utensils, stationery, cables and any metal item.\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cb\u003eS\u003c\/b\u003e\u003cb\u003ePECIFICATIONS:\u003c\/b\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cul\u003e\n\u003cli\u003eSize: 10.5 x 2.7 x 2.1cm \u003c\/li\u003e\n\u003cli\u003eColor: Black, White\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cimg src=\"\/\/cdn.shopify.com\/s\/files\/1\/0079\/3418\/1431\/files\/color_e2beea21-0ae2-420b-9ab6-75dedcd969cd_large.png?v=1559814661\" alt=\"\" style=\"display: block; margin-left: auto; margin-right: auto;\"\u003e\n\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\u003cb\u003ePACKAGE INCLUDES:\u003cbr\u003e\u003c\/b\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cul\u003e\n\u003cli\u003e\u003cspan\u003e1 x 3-in-1 Swiss Knife Style Charger\u003c\/span\u003e\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cul\u003e\u003c\/ul\u003e\n\u003cdiv style=\"text-align: center;\"\u003e\u003cspan style=\"color: #ff0000;\"\u003e\u003c\/span\u003e\u003c\/div\u003e\n\u003cul\u003e\u003c\/ul\u003e\n\u003cdiv class=\"tinymce-module fd-clr\"\u003e\n\u003cdiv yne-bulb-block=\"image\"\u003e\u003cimg src=\"https:\/\/cdn.shopify.com\/s\/files\/1\/2700\/0658\/files\/trust2_1024x_991e88e0-93f2-48d9-a91a-fe5fc2eb7bca_large.png?v=1540363065\"\u003e\u003c\/div\u003e\n\u003c\/div\u003e\n\u003cp\u003e\u003cimg src=\"https:\/\/cdn.shopify.com\/s\/files\/1\/0028\/4678\/5606\/files\/1_large_large_d5c4f504-30d5-44c0-9624-53a5e31f8029_large.png?v=1536581286\" alt=\"\"\u003e\u003c\/p\u003e\n\u003cul\u003e\u003c\/ul\u003e"
                    }
                </script>
                <script type="application/json" id="ModelJson-product-template">
                    []
                </script>

            </div>
        </div>

    </main>
</div>
<script type="text/javascript">
    $('.radio-label').click(function(){
        $(this).addClass('radio-label-this').parent('.radio').siblings().find('.radio-label').removeClass('radio-label-this');
    });
    $('#button-cart').on('click', function() {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-cart').button('loading');
            },
            complete: function() {
                $('#button-cart').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {

                    window.location.href = "/index.php?route=checkout/cart";

                    /*$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

                    $('html, body').animate({ scrollTop: 0 }, 'slow');

                    $('#cart > ul').load('index.php?route=common/cart/info ul li');*/
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>
{{ footer }} 
